* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  position: relative;
  padding: 50px 0;
  height: 100vh;
  text-align: center;
  z-index: 1;
}

input {
  max-width: 300px;
  width: 100%;
  padding: 2px 8px;
  font-size: 18px;
  border-radius: 4px;
}

#answer {
  margin-top: 50px;
  font-size: 8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -2px 0 18px rgba(0,0,0,0.4);
}
